@font-face {
  font-family: 'ShadowHand';
  src: url('//2ttf.com/webfont/UIswCwhB/webfont.ttf') format('truetype');
}


ul, li {
  list-style-type: none; /* Remove default bullet points */
  text-align: center;
  margin: 0 auto; /* Center the list */
  padding: 0; /* Remove default padding */
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400; /* Equivalent to ArchivGrotesk-Normal */
}

h1 {
  font-size: 55px;
  text-align: center;
  font-family: 'ShadowHand';
  color: black;
}

h2 {
  font-size: 25px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700; /* Equivalent to ArchivGrotesk-Bold */
  text-align: center;
}

p {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400; /* Equivalent to ArchivGrotesk-Normal */
  text-align: center;
  font-size: 20px;
}

.topnav {
  background-color: #125488;
  overflow: hidden;
  text-align: center;
}

.topnav a {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600; /* Equivalent to ArchivGrotesk-SemiBold */
  font-size: 18px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #2a93d5;
  padding: 14px 20px;
}

.topnav a:hover {
  background-color: #2a93d5;
  color: black;
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.navnelapper {
  width: auto; /* Adjusted to fit the text */
  height: auto; /* Adjusted to fit the text */
  font-size: 20px;
  font-family: 'Helvetica';
  background-color: gray;
  padding: 10px 20px;
  margin: 10px;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 15px;
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400; /* Equivalent to ArchivGrotesk-Normal */
  cursor: pointer;
  background-color: #125488;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.vertical-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-buttons button,
.vertical-buttons select {
  margin: 5px 0;
}

.login-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5 auto;
}

.register-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5 auto;
}

button:hover {
  background-color: #2a93d5;
}

.input-bar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.input-bar select,
.input-bar input,
.input-bar button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.input-bar select,
.input-bar input {
  width: 150px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  box-sizing: border-box;
}

.input-bar button {
  background-color: #125488; /* Pink color for the submit button */
  color: white;
  border: none;
  width: 100px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-bar button:hover {
  background-color: #2a93d5; /* Slightly darker pink on hover */
}

.input-bar select option[disabled] {
  color: #999;
}

.content {
  display: flex;
}

footer {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 10px;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-top: 20px;
  margin: 20px auto;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400; /* Equivalent to ArchivGrotesk-Normal */
  background-color: #2a93d5; /* Background color for the table (header row) */
  color: white;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #125488; /* Background color for header cells */
  color: white;
}

tbody tr {
  background-color: white; /* Background color for all rows */
  color: black;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Light gray for even rows, if desired */
}

tbody tr:hover {
  background-color: #e0e0e0; /* Light gray for hover effect */
}

#chartContainer {
  width: 80%;
  margin-top: 20px;
  display: flex;
  margin: 20px auto;
}

.entriesList {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400; /* Equivalent to ArchivGrotesk-Normal */
  text-align: 18px;
}

.entriesList button {
  background-color: #125488; /* Pink color for the submit button */
  color: white;
  border: none;
  width: 100px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  cursor: pointer;
  transition: background-color 0.3s;
}

#tipsTable {
  width: 80%;
  margin: 5 auto;
  border-collapse: collapse;
}

#tipsTable th, #tipsTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

#tipsTable th {
  background-color: #f4f4f4; /* Gray background for header */
  text-align: center;
}

#tipsTable td {
  background-color: white; /* White background for table body cells */
}

#tipsTable tr:nth-child(even) {
  background-color: #ffffff; /* Light gray for even rows */
}

#tipsTable tr:hover {
  background-color: #f1f1f1;
}

#adminContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#adminContent .vertical-buttons, #assignments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#adminContent select, #adminContent button {
  margin: 5px 0;
}

.bingo {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
  aspect-ratio: 1 / 1;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  text-align: center;
}

.square:hover {
  background-color: #e0e0e0;
}

#uploadModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#uploadModal div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#uploadModal input {
  margin-bottom: 10px;
}

